{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
	
<p>We made this project for the 2019 North West Advanced Programming Workshop (NWAPW). We are first year participants. Check <a href="http://nwapw.org/" target="_blank">NWAPW.ORG</a></p>
	<strong>Support: No one is going to help you</strong> 
    	<br>
    	<strong>Marketing: We don't have enough money for marketing</strong>
<h3>
	<marquee scrolldelay=50 truespeed loop=1>Just a small tiny itsy-bitsy little tad bit about software</marquee>
</h3>
<p>
Software, put simply, <b><i>DOES NOT EXIST</i></b>. Think about it for a second. 
	<ul style="list-style-type:disc;">
		<li>Have you ever seen software? Not the output, the actual <i> software itself</i>? 
		<li>Have you ever felt software, tasted it, touched it, heard it??</li>
		<li>When you see programmers writing software, what does it look like they're really doing? Are the results of their work immediately apparent, as with carpenters, painters, and plumbers? Or do you get the impression they're just pressing buttons randomly because they hope a piece of cheese will appear in the wall dispenser the way it always used to back in the good old days?</li>
	</ul>
	Please come to the obvious conclusion that there is no such thing as software.  It is a mirage, an illusion, and the con artists who have foisted it on an unsuspecting public are some of the most successful swindlers in history.
</p>

<h4>
	What is our <i>"software"</i>?
</h4>
<p>
	We have two main components of --INSERT NAME HERE--:
	<ul style="list-style-type:disc;">
		<li>A predictor that can "accuratly" predict whether two images of handwritten text were written by the same person or not.</li>
		<li>A word to text converter which can "accuratly" convert an image of handwritten text to ascii text</li>
	</ul>
</p>
{% endblock %}
