{% extends "layout.html" %}

{% block content %}

<br />
<h2>{{ title }}</h2>
	
<p>We made this project for the 2019 North West Advanced Programming Workshop (NWAPW). We are first year participants. Check <a href="http://nwapw.org/" target="_blank">NWAPW.ORG</a></p>
	<strong>Support: No one is going to help you</strong> 
    	<br>
    	<strong>Marketing: We don't have enough money for marketing</strong>
<h3>
	<marquee scrolldelay=50 truespeed loop=-1 BEHAVIOR=Alternate >Just a small tiny itsy-bitsy little tad bit about software</marquee>
</h3>
<p>
Software, put simply, <b><i>DOES NOT EXIST</i></b>. Think about it for a second. 
	<ul style="list-style-type:disc;">
		<li>Have you ever seen software? Not the output, the actual <i> software itself</i>? 
		<li>Have you ever felt software, tasted it, touched it, heard it??</li>
		<li>When you see programmers writing software, what does it look like they're really doing? Are the results of their work immediately apparent, as with carpenters, painters, and plumbers? Or do you get the impression they're just pressing buttons randomly because they hope a piece of cheese will appear in the wall dispenser the way it always used to back in the good old days?</li>
	</ul>
	Please come to the obvious conclusion that there is no such thing as software.  It is a mirage, an illusion, and the con artists who have foisted it on an unsuspecting public are some of the most successful swindlers in history.
</p>

<h3>
	What is our <i>"software"</i>?
</h3>
<p>
	There are two main components of GAPE:
	<ul style="list-style-type:disc;">
		<li>A comparer that can "accurately" determine whether two images of handwritten text were written by the same person or not.</li>
		<li>A word to text converter which can "accurately" convert an image of text to ascii text</li>
	</ul>
</p>


<p>
	We utilize two sorts of neural networks for the handwriting classification task. Neural networks are algorithms that recognize patterns within
	vast amounts of data inputs. Data inputed into the network is converted into numbers that the network is able to scan. The neural network looks
	for patterns in the numbers. The neural network matches these patters with predefined labels that correspond with each data point. Thus, the network
	begins "learning" about certain characteristics that each label have. At the end, the numerical patterns are translated into real-world data, such as
	images. "Neurons" in each layer are responsible for analyzing the data. To better understand how a neural network works, watch this <a href = "https://www.youtube.com/watch?v=aircAruvnKk">video</a> by 3Blue1Brown.
</p>

<p>
	The first neural network used in this project is a simple feedfoward deep neural network. Images of handwriting sized 32 pixels wide
	and 32 pixels high are flattened into a single flat line of pixels 1024 pixels long and 3 pixel high for the initial layer.
	The data is then passed through two hidden layers before sorting into a final layer. The neurons in each layer are connected to each neuron
	in every other layer.
	Here is the training progress:
       	<br>

	<div id = "aboutimg">
		<img src='static/testimage.png'>

		<br />
		<b><p>Example accuracy vs time plot of simple feed forward neural network</p></b>
	</div>


</p>
<p>
	The second neural network is a convolutional neural network. A convolutional neural network is different because of
	its ability to interpret local information in an image. Neurons in a layer also do not connect with every other neuron in a different
	layer. Instead, neurons correspond with specific parts/section of images. The key advantages of a convolutional neural network
	to a simple feedforward neural network are:
<ul style="list-style-type:disc;">
	<li>A reductiion in the number of parameters and neurons necessary</li>
	<li>Consideration of an area instead of single input, allowing for better analysis of text, video, audio etc.</li>
</ul>
</p>


<p>We created a graphical user interface to easily test and demonstrate our neural network. On the homepage, you can
	launch the GUI application on the computer hosting the website by clicking the "Run here" button. Since it currently only
	runs on the host computer, some screenshots are provided to showcase the GUI to those unable to run it themselves.
</p>
<div id = "aboutgui">

	<div id = "aboutguitop">

		<div id = "aboutguicolumn">
		<img src ="static/gui1.PNG">
		</div>

		<div id = "aboutguicolumn">
		<img src ="static/gui2.PNG">
		</div>

		<div id = "aboutguicolumn">
		<img src ="static/gui3.PNG">
		</div>

	</div>
	<br />
	<br />
	<div id = "aboutguibottom">

		<div id = "aboutguicolumn2">
			<img src ="static/gui4.PNG">
		</div>

		<div id = "aboutguicolumn2">
			<img src ="static/gui5.PNG">
		</div>

	</div>



</div>


<!--https://www.freecodecamp.org/news/an-intuitive-guide-to-convolutional-neural-networks-260c2de0a050/-->


{% endblock %}
