{% extends "layout.html" %}

{% block content %}

<head>
	<script src="static/scripts/pace.js"></script>
	<link href="static/content/pace-theme-loading-bar.css" rel="stylesheet"/>
</head>

<div class="jumbotron">
    	<h1>GRAPHOLOGY <span style="letter-spacing: -8px">A.P.E.</span></h1>
	<img src="/static/Attachment-1.png" class="responsive" id="ape">
</div>
<div>
		<h2>
			<span style="background-color: #fcd116">Launch GUI</span>
		</h2>
		
		<p>
			Use the GUI for more customizable options
		</p>
		
		<p>
			<form action="/run" method="POST">
				<input class="btn btn-default" type="submit" name="gui_button" value="Run here >>">
			</form>
		</p>
	</div>
<div class="row">
	<div class="col-md-4">
        <h2>
			About
		</h2>
        	
		<p>
			Learn more about the features of the project
        	</p>
        	
		<p>
			<a class="btn btn-default" href="/about">
				Learn more >>
			</a>
		</p>
    </div>
	<div class="col-md-4">
        <h2>
			Compare
		</h2>
        	
		<p>
			Learn about and use the neural network
		</p>
        	
		<p>
			<a class="btn btn-default" href="/compare">
				Learn more >>
			</a>
		</p>
    </div>
	<div class="col-md-4">
        <h2>
			Read
		</h2>
        	
		<p>
			Learn about and use the image reader
		</p>
        	
		<p>
			<a class="btn btn-default" href="/reader">
				Learn more >>
			</a>
		</p>
    </div>
</div>

{% endblock %}
