{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    	<h1>Handwriting Classifier</h1>
    	<p class="lead">You have the choice between 3 different handwriting tools.</p>
    	<img src="/static/testimage.png">
</div>

<div class="row">
	<div class="col-md-4">
		<h2>
			Our GUI
		</h2>
		
		<p>
			For when you realize how bad the website is go here
		</p>
		
		<p>
			<a class="btn btn-default" href="/run">
				Run Here &raquo;
			</a>
		</p>
	</div>
    	<div class="col-md-4">
        	<h2>
			About
		</h2>
        	
		<p>
			More knowledge here
        	</p>
        	
		<p>
			<a class="btn btn-default" href="/about">
				Learn more &raquo;
			</a>
		</p>
    	</div>
    	<div class="col-md-4">
        	<h2>
			Predict
		</h2>
        	
		<p>
			Predict stuff here
		</p>
        	
		<p>
			<a class="btn btn-default" href="/predict">
				Compare here &raquo;
			</a>
		</p>
    	</div>
    	<div class="col-md-4">
        	<h2>
			Reader
		</h2>
        	
		<p>
			Read stuff here
		</p>
        	
		<p>
			<a class="btn btn-default" href="/reader">Read here &raquo;</a>
		</p>
    	</div>
</div>

{% endblock %}
