{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<div class="row">
    <div class="col-md-4">
        <form action="/action_page.php" target="_blank" method="POST">
			<fieldset>
				<legend>Necessary Information</legend>
				Image Path:<br>
				<input type="text" name="imagepath" value="images/trueEX.png">
				<br>
				Model:<br>
				<input type="text" name="model" value="output/simple_nn2.model">
				<br>
				Width:<br>
				<input type="text" name="width" value="32">
				<br>
				Height:<br>
				<input type="text" name="height" value="32">
				<br>
				<input type="checkbox" name="flat" value="1"> Flatten Image<br>
				<br>
				<input type="submit" value="Submit">
			</fieldset>
		</form>

    </div>
</div>

{% endblock %}
