{% extends "layout.html" %}

{% block content %}
<head>
	<script src="static/scripts/pace.js"></script>
	<link href="static/content/pace-theme-loading-bar.css" rel="stylesheet"/>
</head>

<div>
	<br/>
	<h2>{{ title }}</h2>
	<details>
		<summary>{{ message }}</summary>
		<ul><li>Select two similar sized images to compare. Both pictures must be in the same orientation. A combined version
			of the two images chosen will appear to the right under "Combined images".</li>
			<li>If "Run Compare" is checked, the images will first combine and then a comparison will run with the result
				being highlighted in orange below. If running a comparison, please select a model to use for the neural
				network from the dropdown list below. </li>
			<li>Click "Combine Images" to begin both options</li>
		</ul>
	</details>
	<br>
	<br>


	<div class="row">



		<div class="col-md-4">
			<legend>Comparer Information</legend>
			<p>Images must be both in landscape or portrait orientation</p>
			<form action = "/uploader" method = "POST"
				  enctype = "multipart/form-data">
				<input type = "file" name = "file" />
				<br />
				<input type = "file" name = "file2"/>
				<br>
				<select name="network" method="POST" action="/compare">
					<option value="{{networks[0]}}" selected>{{networks[0]}}</option>
					{% for network in networks[1:] %}
					<option value="{{network}}">{{network}}</option>
					{% endfor %}
				</select>
				<br>
				<br>
				<input type="checkbox" name="predict" value="1" checked> Run Compare<br>
				<br>
				<input type = "submit" value= "Combine Images" class="btn btn-default"/>
			</form>
			
			<h2>
				<span style="background-color: #fcd116">{{ truefalse }}</span>
			</h2>
			<!--
			<form action="/predict" method="POST">
				<fieldset>

					Image Path:<br>
					<input type="text" name="imagepath" value="photos/trueEX.png">
					<br><br>
					Model:<br>
					<input type="text" name="model" value="output/simple_nn2.model">
					<br><br>
					Width:<br>
					<input type="text" name="width" value="32">
					<br><br>
					Height:<br>
					<input type="text" name="height" value="32">
					<br>
					<input type="checkbox" name="flat" value="1" checked> Flatten Image<br>
					<br>
					<input class="btn btn-default" type="submit" name="predictsubmit" value="Predict">
					<br>

				</fieldset>
			</form>
			-->
		    <br>
			
		</div>


		<div class="col-md-4">
			
			
			<legend>Combined Images</legend>

			<img src="static/combinedImage.png" width="256" height="128"></img>
			<br><br>
			<legend>Compare Results</legend>
			<img src="static/outputImage.png" width="256" height="128"></img>
			
			<!--<form action="/predict" method="POST">
				<fieldset>
					<legend>Enter Information to Run Combiner</legend>
					First Image Path:<br>
					<input type="text" name="firstpath">
					<br><br>
					Second Image Path:<br>
					<input type="text" name="secondpath">
					<br><br>
					Result Name:<br>
					<input type="text" name="resultname" value="finalimage">
					<br>
					<br>
					<input class="btn btn-default" type="submit" name="predictsubmit" value="Combine">
					<br>
				</fieldset>
			</form><br>
			<img src="static/combinedImage.png" width="256" height="128"></img>-->
		</div>
	</div>
</div>
{% endblock %}
