{% extends "layout.html" %}

{% block content %}
<head>
	<script src="static/scripts/pace.js"></script>
	<link href="static/content/pace-theme-loading-bar.css" rel="stylesheet"/>
</head>


<br />
<h2>{{ title }}</h2>
<details>
	<summary>{{ message }}</summary>
	<p>The text reader uses a deep neural network trained to read text. The word finder goes through the same process of reading the
		text then compares the target word to each word in the text. Each time the words match it adds one to its occurance count.</p>
	<p>Reader</p>
	<ul>
		<li>For the reader, choose an image file with handwritten words</li>
		<li>Click "Read" and the predicted text will display under the highlighted output label below</li>
	</ul>
	<p>Word finder</p>
	<ul>
		<li>For the word finder, choose an image file with handwritten words</li>
		<li>Enter a word that you want to find in the image</li>
		<li>Click "Find" and the number of times the word appears in the image will display below</li>
	</ul>
</details>
<br>

<div class="row">
	<div class="col-md-4">
		<legend>Read text from an image</legend>

			<form action = "/uploadreader" method = "POST"
				  enctype = "multipart/form-data">
				<input type = "file" name = "text" />
				<br>
				<input type = "submit" value= "Read" class="btn btn-default"/>
			</form>
		<br>
		<img src="static/ReadImage.png" style="max-height:128px">
		<br>
		<!--<embed class="fancy_text" src="static/ReadResults.txt">-->
		<h3>
			<span style="background-color: #fcd116">Output: </span>
		</h3>
		<p>{{ content }}</p>
		<br>
    </div>
	<div class="col-md-4">
		<legend>Find a word in an image</legend>

			<form action = "/uploadfinder" method = "POST"
				  enctype = "multipart/form-data">
				<input type = "file" name = "text" />
				<br>
				<input type="text" placeholder= "Enter target word" name="targetword">
				<br><br>
				<input type = "submit" value= "Find" class="btn btn-default"/>
			</form>
		
		<!--<form action="/reader" method="POST">
			<fieldset>
				<legend>Word Finder Information</legend>
				Image Path:<br>
				<input type="text" name="path" value="TestImage.jpg">
				<br><br>
				Target Word:<br>
				<input type="text" name="targetword" value="my">
				<br><br>
				<input class="btn btn-default" type="submit" name="readersubmit" value="Find">
			</fieldset>
		</form>
		<br>-->
		<br>
		<img src="static/SearchedImage.png" style="max-height:128px">
		<br><br>
		<p>{{ content2 }}</p>
	</div> 
</div>

{% endblock %}
