{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<div class="row">
	<div class="col-md-4">
        <form action="/reader" method="POST">
			<fieldset>
				<legend>Reader Information</legend>
				Image Path:<br>
				<input type="text" name="image" value="TestImage.jpg">
				<br>
				<input type="submit" name="readersubmit" value="Run">
			</fieldset>
		</form>
    </div>
	<div class="col-md-4">
		<form action="/reader" method="POST">
			<fieldset>
				<legend>Word Finder Information</legend>
				Image Path:<br>
				<input type="text" name="path" value="TestImage.jpg">
				<br>
				<input type="text" name="targetword" value="my">
				<br>
				<input type="submit" name="findsubmit" value="Run">
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}
