{% extends "layout.html" %}

{% block content %}

<br />
<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<br>
<br>
<div class="row">
	<div class="col-md-4">
        <form action="/reader" method="POST">
			<fieldset>
				<legend>Reader Information</legend>
				Image Path:<br>
				<input type="text" name="image" value="TestImage.jpg">
				<br><br>
				<input class="btn btn-default" type="submit" name="readersubmit" value="Read">
			</fieldset>
		</form>
		<br>
    	<img src="static/ReadImage.png"></img>
    </div>
	<div class="col-md-4">
		<form action="/reader" method="POST">
			<fieldset>
				<legend>Word Finder Information</legend>
				Image Path:<br>
				<input type="text" name="path" value="TestImage.jpg">
				<br><br>
				Target Word:<br>
				<input type="text" name="targetword" value="my">
				<br><br>
				<input class="btn btn-default" type="submit" name="readersubmit" value="Find">
			</fieldset>
		</form>
		<br>
		<img src="static/SearchedImage.png"></img>
	</div>
</div>

{% endblock %}
