{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Handwriting Classifier</h1>
    <p class="lead">You have the choice between 3 different handwriting tools.</p>
    <img src="/static/testimage.png">
</div>

<div class="row">
	<form action="/run" method="POST">
        <button name="submit" value="run"> CLICK ME</button>
    </form>
    <div class="col-md-4">
        <h2>Comparison</h2>
        <p>
            Compare two images to determine whether or not they have text written by the same person.
        </p>
        <p><a class="btn btn-default" href="/results"> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Profiler</h2>
        <p>DESCRIPTION</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reader</h2>
        <p>DESCRIPTION</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
